* {
    margin: 0;
    padding: 0;
}
.front {
    height: 669px;
    background-image: url(imagens/imagem2.jpg);
    background-size: cover;
}
.nome {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: whitesmoke;
    padding-top: 35%;
    padding-left: 35px;
    font-size: 1.1em;
}
.sumario {
    border: 1px solid black;
    text-align: center;
    height: 200px;
    line-height: 30px;
}
div a:hover {
    font-weight: 900;
}
.intro {
    display: inline-block;
    border: 1px solid black;
    height: 600px;
}
.foto {
    width: 25%;
    position: absolute;
    padding-top: 170px;
    padding-left: 250px;
}
.description {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 30%;
    float: right;
    padding-right: 320px;
    padding-top: 210px;
}
body {

}
.habilidade {
    border: 1px solid black;
    height: 400px;
}
.titulo {
    text-align: center;
    padding-top: 25px;
}
.itens {
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    display: inline-block;
}
.socio {
    position: absolute;
    float: left;
    width: 300px;
    height: 200px;
    left: 400px;
    padding-top: 50px;
}
.tecnica {
    position: absolute;
    left: 750px;
    padding-top: 30px;
}
h2, h3 {
    text-decoration: underline;
    color: #5c677d;
}
.button {
    background-color: #6096ba;
    color: white;
    text-decoration: none;
    font-weight: 900;
    padding: 10px;
    border-radius: 4px;
    width: 11%;
}
.circled {
    border-radius: 20%;
}